<launch>
    <!-- =================================================================
                         User Input Arguments
    ================================================================= -->
    
    <arg name = "namespace"           default = "car1"  doc = "Namespace of all the nodes. Use this to launch different cars. "/>

    <group ns = "$(arg namespace)">
        
        <!-- =================================================================
                        Start the wifi com node
            ================================================================= -->
        <include file="$(find wifi_com)/launch/wifi_com_default.launch" />

        <!-- =================================================================
                        Start the lighthouse calibration node
            ================================================================= -->
        <include file="$(find ros_lighthouse_calibration)/launch/default.launch" />
    </group>

</launch>
    