<launch>

    <arg name = "bypass_estimator"    default = "false"       doc = "If true, bypasses the state estimation and directly uses the gt state of the simulator "/>
    <arg name = "track_name"          default = "FREIBURG_FULL_TRACK"  doc = "Name of the track that should be loaded. "/>

    <rosparam param = "car_namespaces">
        ["car1", "car2"]
    </rosparam>

    <!-- Start Car 1 -->
    <include file="$(find crs_launch)/launch/sim_single_car.launch">
        <arg name = "experiment_name"    value = "pacejka_c_ref_tracking_mpc" />
        <arg name = "namespace"          value = "car1" />
        <arg name = "run_type"           value = "sim_multi/car1" doc = " name of backup folder that is created (experiments/sim_multi/mpc_car_blue/...."/>
        <arg name = "visualizer_config"  value = "$(find crs_launch)/config/blue_car_visualizer.yaml" />

        <arg name = "view_rviz"          value = "false" />
        <arg name = "bypass_estimator"   value = "$(arg bypass_estimator)" />
        <arg name = "track_name"         value = "$(arg track_name)" />
        <arg name = "launch_planner"     value = "false" />
    </include>


    <arg name = "experiment_path"       default = "$(eval find('crs_launch') + '/../../../experiments/pacejka_c_ref_tracking_mpc')" />

    <!-- Start Car 2 -->
    <include file="$(find crs_launch)/launch/sim_single_car.launch">
        <arg name = "experiment_name"    value = "pacejka_c_ref_tracking_mpc" />
        <arg name = "namespace"          value = "car2" />
        <arg name = "run_type"           value = "sim_multi/car2" doc = " name of backup folder that is created (experiments/sim_multi/mpc_car_blue/...."/>
        <arg name = "visualizer_config"  value = "$(find crs_launch)/config/red_car_visualizer.yaml" />
        <arg name = "controller_config"  value = "$(arg experiment_path)/controller_car_2.yaml" />
        <arg name = "simulator_config"      default = "$(arg experiment_path)/simulator_car_2.yaml" />

        <arg name = "view_rviz"          value = "false" />
        <arg name = "bypass_estimator"   value = "$(arg bypass_estimator)" />
        <arg name = "track_name"         value = "$(arg track_name)" />
        <arg name = "launch_planner"     value = "false" />

    </include>

    <!-- Start Car 3 -->
    <!-- <include file="$(find crs_launch)/launch/sim_single_car.launch">
        <arg name = "experiment_name"    value = "pacejka_c_ref_pid" />
        <arg name = "namespace"          value = "car3" />
        <arg name = "run_type"           value = "sim_multi/car3" doc = " name of backup folder that is created (experiments/sim_multi/mpc_car_blue/...."/>
        <arg name = "visualizer_config"  value = "$(find crs_launch)/config/green_car_visualizer.yaml" />


        <arg name = "view_rviz"          value = "false" />
        <arg name = "bypass_estimator"   value = "$(arg bypass_estimator)" />
        <arg name = "track_name"         value = "$(arg track_name)" />
        <arg name = "launch_planner"     value = "false" />

    </include> -->


    <!-- Distributed Planner -->
    <include file = "$(find ros_planners)/launch/default.launch">
        <arg name = "planner_config_file" value = "$(find ros_planners)/config/multi_lloyd_planner.yaml" />   <!--change here to multi_lloyd_planner.yaml to check implementation, then change back to  multi_circle_planner.yaml-->
    </include>


    <node pkg="rviz" name="rviz" type="rviz" args="-d $(find car_track_visualizer)/config/single_car.rviz" />


</launch>
