<launch>

    <arg name="car_state_topic" default="planner_node/state" doc="Topic where state of the car is published." />    
    <arg name="trajectory_topic" default="planner_node/trajectory" doc="Topic where the trajectory is published" />    
    <arg name="planner_config_file" default="$(find ros_planners)/config/circle_planner.yaml" doc="Path to planner config .yaml file" />

    <node pkg="ros_planners" name="planner_node" type="planner_node" output="screen">
        <rosparam command="load" file="$(arg planner_config_file)" />

        <remap from="planner_node/state" to="$(arg car_state_topic)" />
        <remap from="planner_node/trajectory" to="$(arg trajectory_topic)" />
    </node>

</launch>